@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

header {
    background-color: #4c2885;
    background-image: linear-gradient(315deg, #4c2885 0%, #1188ac 100%);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    color: #eee;
    font-size: 2rem;
    margin: 0;
    padding: 0.5rem;
}

body {
    background-color: #6d2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #2e2a68 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

input {
    background-color: #4c2885;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 600px;
    height: 50px;
    cursor: pointer;
}

input::placeholder {
    color: #bbb;
    text-align: center;
}

input:focus {
    outline: none;
}

.card {
    background-color: #4c2885;
    background-image: linear-gradient(315deg, #4c2885 0%, #1188ac 100%);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    max-width: 800px;
}

.avatar {
    border: 10px solid #2a2a72;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: 30px;
}

.user-info {
    color: #eee;
    margin-left: 2rem;
}

.user-info h2 {
    margin-top: 0;
}

.user-info ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    align-items: center;
}

.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo {
    background-color: #2a2a72;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 1rem;
    top: 32%;
    transform: translateY(-50%);
    color: #bbb;
    pointer-events: none;
}

.about-btn {
    background-color: #4c2885;
    background-image: linear-gradient(315deg, #4c2885 0%, #1188ac 100%);
    border: none;
    border-radius: 20px;
    color: #eee;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    font-family: inherit;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.about-btn:hover {
    background-color: #1188ac;
    background-image: linear-gradient(315deg, #1188ac 0%, #4c2885 100%);
}

.back-btn {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    background-color: #4c2885;
    background-image: linear-gradient(315deg, #4c2885 0%, #1188ac 100%);
    border: none;
    border-radius: 20px;
    color: #eee;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    font-family: inherit;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

#recentUsers, #favoritesContainer {
    background-color: #4c2885;
    background-image: linear-gradient(315deg, #4c2885 0%, #1188ac 100%);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: white;
}

#recentUsers a, #favoritesContainer a {
    color: #eee;
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    border-radius: 5px;
}

#recentUsers a:hover, #favoritesContainer a:hover {
    background-color: #2a2a72;
    color: #fff;
}

#recentUsers a:not(:last-child) {
    margin-right: 10px;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border-top: 8px solid #fff;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 1rem auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.back-btn:hover {
    background-color: #1188ac;
    background-image: linear-gradient(315deg, #1188ac 0%, #4c2885 100%);
}

#chatbotContainer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    background-color: #4c2885;
    overflow: hidden;
}

#chatbotHeader {
    background-color: #1188ac;
    padding: 10px;
    color: white;
    text-align: center;
}

#chatbotBody {
    overflow-y: auto;
    max-height: 300px;
    padding: 10px;
}

#chatbotInput {
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 1px solid #1188ac;
    color: white;
    background-color: #4c2885;
    margin-bottom: -1px;
}

button {
    background-color: #4c2885;
    background-image: linear-gradient(315deg, #4c2885 0%, #1188ac 100%);
    border: none;
    border-radius: 20px;
    color: #eee;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    font-family: inherit;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background-color 0.8s;
}

button:hover {
    background-color: #1188ac;
    background-image: linear-gradient(315deg, #1188ac 0%, #4c2885 100%);
}

#favoritesContainer button {
    background-color: #2a2a72;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#favoritesContainer button:hover {
    background-color: #4c2885;
}

@media (max-width: 930px) {
    #chatbotContainer {
        display: none;
    }
}

@media (min-width: 830px) {
    .back-btn {
        padding-top: 20px;
    }
}

#webLink {
    color: white;
}

#webLink1 {
    color: white;
}

#webLink:hover {
    color: #b07fff;
}

#webLink1:hover {
    color: #b07fff;
}

.card, #recentUsers, #favoritesContainer {
    flex-direction: column;
    padding: 1rem;
}

.about-btn, .back-btn, button {
    padding: 0.5rem 1rem;
}

@media (max-width: 830px) {
    header h1 {
        font-size: 1.5rem;
    }

    .avatar {
        margin-left: 30px;
    }

    #form {
        width: 100%;
    }

    .search-container input, #chatbotInput {
        width: 80%;
        margin: 0.5rem;
        padding: 0.8rem;
    }

    .card, #recentUsers, #favoritesContainer {
        flex-direction: column;
        padding: 1rem;
    }

    .user-info ul {
        flex-direction: column;
    }

    .about-btn, .back-btn, button {
        padding: 0.5rem 1rem;
    }

    body {
        padding: 0 10px;
    }
}